[submodule "predict_sales_of_car"]
	path = predict_sales_of_car
	url = https://github.com/mostafatamer79/Predict_sales_of_car.git
[submodule "predict_sales_of_car_backend/Predict_sales_of_car"]
	path = predict_sales_of_car_backend/Predict_sales_of_car
	url = https://github.com/mostafatamer79/Predict_sales_of_car.git
